/* --this is the starting point  of the style --*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

/* --this is the style of the main page-- */

.main{
    width: 100%;
    height: 130vh;
    font-size: larger;
    background-color: skyblue;

}

/* -- the style of the logo image */

.pic1{
    width: px;
    height: px;
}

/* -- the style of the navigation bar */

/* .navbar{

    display: flex;
    background-color: navy;
    width: 100%;
    height: 10%;

} */

.menu{
   padding-top: 27px; 
   padding-left: 150px;
   text-align: center;
   
}

.search1{
    padding-left: 350px;
    margin-top: 25px;

}

.input1{
    padding-left: 15px;
    height: 30px;
    border: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.button2{
    margin-left: -4px;
    height: 30px;
    background-color: skyblue;
    width: 60px;
    border: 0;
    border-top-right-radius: 20px;border-bottom-right-radius: 20px;

}

.button2:hover{
    background-color: #fff;
}

.button2 a{
    text-decoration: none;
    color:#000;
}

/* --button in the navigation bar-- */

.button1{
    margin-left: 17px;
    width: 80px;
    height: 37px;
    background-color: skyblue;
    border: 0;
    border-radius: 27px;
}

.button1:hover{
    background-color: #fff;
    transition: 2s ease-in-out;
}

.button1 a{
    text-decoration: none;
    color: #000;
}
h3{
    margin-top: 80px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14;
}
h4{
    margin-right: 200px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    margin: auto;
    
}



/* academics */

nav{
    /* display: flex; */
}

.logo{

}

h1{

}

.navbar{
    background-color: navy;
}

li{
    display: inline-block;
}

li a{
    color: #fff;

}

.search0{
    float: right;
}

.search0{
    float: right;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: navy;
    color: #fff;
}

form{
    text-align: center;
    background-color: hsl(0, 0%, 0%, .5);
    margin-left: 300px;
    margin-right: 300px;
}

h2{
    text-align: center;
}

/* -- this is the style of the paragraph in the body section of the our page */

.container2{

    margin: 50px;
    /* padding: 20px; */

}
/* -- the style of the footer -- */

.mainfoot{
    display: flex;
    background-color: navy;
    height: 20vh;
}

.footer1{
    color: #fff;
    margin: 14px;
    margin-top: 10px;

}

.footer1 .input2{
    border:0;
    border-radius:17px;
    height: 4vh;
    padding-left: 10px;
}

.footer1 .input3{
    margin-top: 5px;
    width: 80%;
    height: 50%;
    border: 0;
    border-radius: 12px;
    padding-left: 10px;
}

.footer2{
    color: #fff;
    margin-left: 500px;
    margin-top: 10px;
}

.footer3{
    margin-top:10px;
    color: #fff;
    margin-left: 20px;

}

.button3{

    margin-left: 210px;
    margin-top: 5px;
    width: 70px;
    height: 30px;
    border: 0;
    border-radius: 27px;
    
}
.button3:hover{
    background-color: skyblue;
}

.button3 a{
    text-decoration: none;
    color: #000;
}